<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/restaurants" method="post" >
        <input placeholder="Resturant ID "value="" name="rid" required><br><br>
        <input placeholder="Resturant Name" value="" name="rname" required><br><br>
        <input placeholder="Cuisine Type"value="" name="ct" required><br><br>
        <input placeholder="Location"value="" name="location" required><br><br>
        <input placeholder="No. og Tables"value="" name="nOft" required><br><br>
        <input placeholder="Has outdoor Seating "value="" name="hasOS" required><br><br>
        <input placeholder="Opening Hours "value="" name="ohours" required><br><br>
        <input placeholder="Contact Number "value="" name="cn" required><br><br>
        <button type="submit">Create</button>

    </form>
</body>
</html>